@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700;800&display=swap');


*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Vazirmatn',sans-serif;

}



body{


    background:

    linear-gradient(
    180deg,
    #ffffff 0%,
    #f4f1ea 100%
    );


    color:#222;

    min-height:100vh;


}



.container{


    max-width:480px;

    margin:auto;

    padding:35px 25px 45px;

    text-align:center;


}



.logo{

    width:200px;

    max-width:70%;

    margin-bottom:25px;

    filter:
    drop-shadow(
    0 10px 18px rgba(0,0,0,.15)
    );

}


h1{


    font-size:30px;

    font-weight:800;

    margin-bottom:10px;


}



.subtitle{


    font-size:16px;

    color:#666;

    line-height:2;

    margin-bottom:20px;


}



/* وضعیت سفارش */


.status-box{


    background:#ffffff;

    border-radius:18px;

    padding:15px;

    margin-bottom:20px;

    font-size:15px;

    font-weight:600;

    box-shadow:

    0 10px 25px rgba(0,0,0,.06);


}



/* تایمر */


.timer-box{


    background:

    rgba(255,255,255,.8);


    backdrop-filter:blur(12px);


    border-radius:24px;


    padding:30px 20px;


    margin-bottom:30px;


    box-shadow:

    0 15px 35px rgba(0,0,0,.08);


}



.timer-title{


    color:#666;

    font-size:16px;

    font-weight:600;

    margin-bottom:15px;


}



#countdown{


    font-size:42px;

    font-weight:800;

    letter-spacing:2px;

    color:#1b5e20;


    animation:

    pulse 1.8s infinite;


}



@keyframes pulse{


    0%{

        transform:scale(1);

    }


    50%{

        transform:scale(1.04);

    }


    100%{

        transform:scale(1);

    }


}




/* اطلاعات */


.steps{


    background:#ffffff;

    border-radius:24px;

    padding:25px;


    text-align:right;


    box-shadow:

    0 15px 35px rgba(0,0,0,.07);


}



.steps h2{


    text-align:center;

    font-size:21px;

    margin-bottom:20px;


}



.step{


    padding:14px 0;

    border-bottom:1px solid #eee;

    font-size:16px;

    line-height:1.8;


}



.step:last-child{


    border:none;


}





/* دکمه واتساپ */


.whatsapp-btn{


    width:100%;


    border:none;


    margin-top:30px;


    padding:18px;


    border-radius:18px;


    background:#25D366;


    color:white;


    font-size:18px;


    font-weight:700;


    cursor:pointer;


    box-shadow:


    0 15px 30px rgba(37,211,102,.35);


    transition:.25s;


}



.whatsapp-btn:hover{


    transform:

    translateY(-4px);


}





/* پیام انتقال */


.redirect-message{


    display:none;


    margin-top:15px;


    color:#666;


    font-size:14px;


}





/* سفارش جدید */


.new-order-btn{


    width:100%;


    margin-top:20px;


    padding:14px;


    border-radius:16px;


    border:1px solid #ddd;


    background:white;


    color:#555;


    font-size:15px;


    cursor:pointer;


}




.new-order-btn:hover{


    background:#f5f5f5;


}
