.brand-title{

    grid-column:1 / 3;

    font-size:20px;

    font-weight:700;

    color:#111;

    margin-top:10px;

    margin-bottom:5px;

    padding-bottom:8px;

    border-bottom:2px solid rgba(212,175,55,.35);

    text-align:left;

    direction:ltr;

}
